import('forecast')
import('mvtnorm')
import('pracma')

importFrom("stats", "qt", "dchisq", "pnorm", "qchisq", "qnorm", "runif")
importFrom("graphics", "axis", "plot", "points", "text")
importFrom("stats", "arima", "arima.sim", "dnorm", "integrate", 
            "rbeta", "rchisq", "rgamma", "rnorm", "rt", "sd", 
            "uniroot", "var")

export('getCC')
export('PH1XBAR')



import('forecast')
import('pracma')

importFrom("stats", "arima", "arima.sim", "dnorm", "integrate", 
            "rbeta", "rchisq", "rgamma", "rnorm", "rt", "sd", 
            "uniroot", "var")

export('getCC')
export('PH1ARMA')

